# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

#Web Storm Settings
.idea

#dont check in the shm and wal
*.db-shm
*.db-wal
#also don't check in the session db
session.db
#don't check in local db stuff in development
db/local/*
#don't check in the version of db that api is connected to
db/staging/staging-api.db
db/prod/prod-api.db

#don't check in .dev-link config file because only want to use them to link locally
.dev-link

#don't check in the defaults config because it is configuration for local users
config/defaults.js
#don't check in project.js because it is default project for local users
config/project.js