//Place to store configuratin for db-csv-change script
module.exports = {
    tables: {
        subtopics: {
//including the key allows script to check if item has been inserted so we don't get duplicates
//on insert the csv will be updated with the key value
            key: 'subTopicID',
            fields: [
                {name: 'subTopicID',type:'integer',key:true,new:true},
                {name:'eaID',type:'integer'},
                {name:'topic',wabName:'eaTopic',type:'text'},
                'categoryTab',
                {name:'scale',wabName:'eaScale',type:'text'},
                'name',
                {name:'description',wabName:'eaDescription',type:'text'},
                {name:'eaBC',type:'boolean'},
                {name:'eaCA',type:'boolean'},
                {name:'eaCPW',type:'boolean'},
                {name:'eaCS',type:'boolean'},
                {name:'eaFFM',type:'boolean'},
                {name:'eaNHM',type:'boolean'},
                {name:'eaRCA',type:'boolean'},
                {name:'eaPBS',type:'boolean'},
                {name:'tags',wabName:'eaTags',type:'array'},
                'sourceType'
            ]
        },
        layers: {
            key: 'layerID',
            fields: [
                {name: 'layerID',type:'integer',key:true,new:true},
                {name: 'subTopicID',type:'integer',new:true},
                {name:'eaID',type:'integer'},
                'name',
                {name:'subLayerName',type:'text',new:true},
                {name:'description',wabName:'eaDescription',type:'text'},
                {name:'metric',wabName:'eaMetric',type:'text'},
                {name:'dfsLink',wabName:'eaDfsLink',type:'text'},
                {name:'metadataID',wabName:'eaMetadata',type:'text'},
                'url',
                {name:'lyrNum',wabName:'eaLyrNum',type:'integer'},
                {name:'tags',wabName:'eaTags',type:'array'},
                'tileLink',
                'tileURL',
                {name:'serviceType',wabName:'type',type:'text'},
                {name:'popup',type:'object'},
                {name:'numDecimal',type:'integer'},
                'sourceType',
                'cacheLevelNat',
                'DownloadSource',
                {name:'areaGeog',type:'array'},
                'agoID',
                {name: 'UniqueTag',type:'text',new:true},
                {name: 'HUBsearch',type:'text',new:true},
                {name: 'TagHubText',type:'text',new:true},
                {name:'ViewName',wabName:'View Name',type:'text',new:true}
            ]
        },
        community_uuids: {
            key: 'metadataID'
        },
        national_uuids: {
            key: 'metadataID'
        }
    }
};
