//Place to store configuratin for db-csv-change script
module.exports = {
    tables: {
        subtopics: {
//including the key allows script to check if item has been inserted so we don't get duplicates
//on insert the csv will be updated with the key value
            key: 'subTopicID'
        },
        layers: {
            key: 'layerID'
        },
        community_uuids: {
            key: 'metadataID'
        },
        national_uuids: {
            key: 'metadataID'
        }
    }
};
